{{"pb"|bold}}     : The command line puzzle box
{{"Stage 1"|bold}}: Let's go to the movies.
===============================

Your job, {{.|bold|cyan}}, is to be a detective and figure out how to open me.
There will be several stages to get through and solve, and eventually I will get sick of you and tell you that you completed it.

I will {{"not"|bold}} make it easy though.

There may be a way that you can find more help on how to do this.

{{"OPTIONS"|bold}}
--help -h     print out the command line help
--hint        print out a stage specific hint
--reset       reset your progress to the beginning in case you want this
              madness again.
--artifacts   print out a list of the artifacts that this puzzle box has
              created for clean up in case you're worried.
              Example: pb --artifacts | xargs rf --rf
