{{"pb"|bold}}     : The command line puzzle box
{{"Stage 1"|bold}}: Let's go to the movies.
===============================

Your job, {{.|bold|cyan}}, is to be a detective and figure out how to open me.
There will be several stages to get through and solve, and eventually I will get sick of you and tell you that you completed it.

I will {{"not"|bold}} make it easy though.

There may be a way that you can find more help on how to do this.

To start over from the start, you can run `pb --reset`

{{"full disclosure:" | bold | black | White}}
This app will make artifacts around your system. At anytime you can run, `pb --artifacts` to see what they are so that you can clean them up if you want to. As an example you can run `pb --artifacts | xargs rf --rf`
