 ________________________________________
/ I think you may be lost, this is not a \
\ clue, I promise.                       /
 ----------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
