   ﾊ,,ﾊ        -----------------------
  ( ﾟωﾟ)   ---(Why have you done this?)
  |つ  つ      -----------------------
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  |    |
  U "  U
