{{"pb"|bold}}    : The command line puzzle box
Stage : {{.Title}}
=====================================
{{.Help}}

{{"OPTIONS"|bold}}
{{- range $opt, $desc := .Options}}
{{$opt}}    {{$desc}}{{end}}
--help -h     print out the command line help
--hint        print out a stage specific hint
--reset       reset your progress to the beginning in case you want this
              madness again.
--artifacts   print out a list of the artifacts that this puzzle box has
              created for clean up in case you're worried.
              Example: pb --artifacts | xargs rf --rf
