{{"pb"|bold}}     : The command line puzzle box
{{"Stage 3"|bold}}: Speech Impediment
===============================

Okay, you are ready for something harder. Let's see what you can handle since
you are such a computer person.

This will challenge you to use programming with very little.

Check out {{"https://lisp-lang.org/"|cyan|underline}} to get started.

{{"OPTIONS"|bold}}
--help -h     print out the command line help
--hint        print out a stage specific hint
--reset       reset your progress to the beginning in case you want this
              madness again.
--artifacts   print out a list of the artifacts that this puzzle box has
              created for clean up in case you're worried.
              Example: pb --artifacts | xargs rf --rf
