{{"pb"|bold}}     : The command line puzzle box
{{"Stage 3"|bold}}: Speech Impediment
===============================

Okay, you are ready for something harder. Let's see what you can handle since you are such a computer person.

To start over from the start, you can run `pb --reset`

{{"full disclosure:" | bold | black | White}}
This app will make artifacts around your system. At anytime you can run, `pb --artifacts` to see what they are so that you can clean them up if you want to. As an example you can run `pb --artifacts | xargs rf --rf`
