{{"pb"|bold}}     : The command line puzzle box
{{"Stage 2"|bold}}: A Conversation
=====================================

Good job! You made it to stage 2! Now what?

In this stage we will communicate in many ways.

I will {{"listen"|bold}} to you, and if you want, I can {{"speak"|bold}} as well!

To start over from the start, you can run `pb --reset`

{{"full disclosure:" | bold | black | White}}
This app will make artifacts around your system. At anytime you can run, `pb --artifacts` to see what they are so that you can clean them up if you want to. As an example you can run `pb --artifacts | xargs rf --rf`
